<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="adovipavto.Properties.Settings.VipAvtoDBConnectionString"
      connectionString="Data Source=HATASSSKA-PC;Initial Catalog=VipAvtoDB;User ID=vipavto;Password=9194"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>